* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
}

#editor-btn-panel button {
    margin: 0 0.3rem;
    margin-top: 0.3rem;
}

#editor-btn-panel:first-child {
    margin-top: 1rem;
}

#editor-btn-panel:last-child {
    margin-bottom: 1rem;
}

#family_tab_content frame {
    min-height: 6rem;
    min-width: 24rem;
}

button {
    padding: 0.2rem;
    background-image: none;
    border-image: none;
    border-width: 0px;
    box-shadow: none;
}

button:hover {
    color: #4dbc5e;
    background-color: #FFFFFF;
    border-color: #4dbc5e;
}

button:active {
    background-color: #4dbc5e;
    color: #FFFFFF;
}

#menu-bar button {
    border-radius: 0px;
}

#tool-bar button {
    border-radius: 0px;
}

.bg-clean {
    background-color: #FFFFFF;
}

.bg-primary {
    background-color: #5842e5;
    color: #FFFFFF;
}

.bg-urgent {
    background-color: #e55842;
    color: #FFFFFF;
}

.bg-secondary {
    background-color: #e55842;
    color: #8e8ba0;
}

.rounded {
    border-radius: 0.5rem;
}

.rectangle {
    border-radius: 0px;
}

.border-primary {
    border-style: solid;
    border-width: 0.10rem;
    border-color: #5842e5;
}

.border-urgent {
    border-style: solid;
    border-width: 0.15rem;
    border-color: #e55842;
}

.border-secondary {
    border-style: solid;
    border-width: 0.05rem;
    border-color: #8e8ba0;
}

.color-primary {
    color: #5842e5;
}

.color-secondary {
    color: #8e8ba0;
}

.bg-secondary {
    color: #FFFFFF;
    background-color: #8e8ba0;
}

.color-urgent {
    color: #e55842;
}

.h-separator {
    min-height: 0.05rem;
}

.v-separator {
    min-width: 0.2rem;
}
